<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All in HPCSCDNClientSpec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HPCSMist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HPCSMistTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>OCLint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF1D24ED167927C700454661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF1D2517167927C800454661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF235B0B182AA0E10050FB20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF235B20182AA0E10050FB20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF235B68182AA79F0050FB20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF235B74182AA79F0050FB20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF3AEDB6177CDE8D00B856B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF4BB8B816793CBE0019C57C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF62517517032A6800B5E20B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF62518B17034D2800B5E20B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF6251A11703549900B5E20B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFB6B92418AD7E65005A41FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
